:root {
  --fundo-cabecalho-rodape: #040b18;
  --texto-cabecalho-rodape: #c8bfc7;
  --capa-perfil-circulos: #3d6aff;
  --nav-cabecalho-rodape: #3d6aff;
  --capa-texto-status: #306218;
  --capa-fundo-status: #02f347;
  --fundo-status: #97d47c;
  --texto-status: #3f1665;
  --titulo-card-formacao-acad: white;
  --texto-card-formacao-acad: #c8bfc7;
  --fundo-card-formacao-acad: #3f1665;
  --borda-card-skills: #040b18;
  --fundo-card-skills: white;
  --titulo-card-skills: #7f2ccb;
  --fundo-img-projeto: #3d6affaa;
  --subtitulo-rodape: #3c913f;
  --titulo-skills: #02f347;
  --texto-skills: #c8bfc7;
  --backGround-body: #040b18;
  --texto: #c8bfc7;
  --capa-titulo-destaque: #5cfc34;
  --sobras: #bbb;
  --capa-borda-caixa-texto: #7f2ccb;
  --circulos-capa: #3d6aff;
  --titulos: #5cfc34;
  --subtitulos: #a29ef6;
  --bordas: #3d6aff;
  --destaque-primario: #a29ef6;
  --fundo-container-projetos: #040b18;
  --caixa-texto: transparent;
  --fundo-status-projeto: #040b18;
  --borda-container-contato: #3d6aff;
  --fundo-container-forms: transparent;
  --texto-contato: #c8bfc7;
  --fundo-icone-btn-contato: transparent;
  --fundo-input-contato: #132e89;

  --fonte-titulo: "JetBrains Mono", monospace;
  --fonte-texto: "Source Code Pro", monospace;
}

body {
  background-color: var(--backGround-body);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--texto);
}

button {
  border: none;
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}
